	{% extends "layout.html" %}
	{% block content %}

        <section class="main container-fluid">
            <div class="row g-2">
                <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('category')}}">{{type}}</a></li>
                        <li class="breadcrumb-item">Registros de {{type}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Formulario de Edición de Registro</li>
                    </ol>
                </nav>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-12">
                <div class="jumbotron">
                    <p class="lead">Formulario de Edición de Registro en Empleado.</p>
                    <hr class="my-3">
                    <form action="/actualizar{{type}}/{{categoria.0}}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input value="{{categoria.1}}" type="text" class="form-control" name="nombre" placeholder="Escribe el nombre.." required autofocus>
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-success">Actualizar</button>
                        <button type="reset" class="btn btn-info">Resetar</button>
                    </form>
                </div>
                </div>
            </div>
        </section>

    {% endblock %}