	{% extends "layout.html" %}
	{% block content %}

        <section class="main container-fluid">
            <div class="row g-2">
                <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('supplier')}}">{{type}}</a></li>
                        <li class="breadcrumb-item">Registros de {{type}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Formulario de Nuevo Registro</li>
                    </ol>
                </nav>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-12">
                <div class="jumbotron">
                    <p class="lead">Formulario de Nuevo Registro en {{type}}.</p>
                    <hr class="my-3">
                    <form action="{{url_for('addSupplier')}}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" placeholder="Escribe el nombre.." required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dni">DNI</label>
                                <input type="text" class="form-control" name="dni" placeholder="Escribe el DNI.." required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nac">Nacionalidad</label>
                                <input type="text" class="form-control" name="nac" placeholder="Escribe nacionalidad.." required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tel">Telefono</label>
                                <input type="number" pattern="[0-9]{10}" class="form-control" name="tel" placeholder="Escribe el telefono.." required autofocus>
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-success">Registrar</button>
                        <button type="reset" class="btn btn-info">Resetar</button>
                    </form>
                </div>
                </div>
            </div>
        </section>

    {% endblock %}