	{% extends "layout.html" %}
	{% block content %}

        <section class="main container-fluid">
            <div class="row g-2">
                <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{type}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Canasta de {{type}}</li>
                    </ol>
                </nav>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-5">
                    <div class="card">
                        <h5 class="card-header">Insercción de Información.</h5>
                        <div class="card-body">
                            <form action="{{url_for('searchData')}}" method="POST">
                                <div class="form-row">
                                    <p class="card-text col-md-12">Información de Cliente</p>
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" name="codCli" placeholder="Código.." aria-label="Código de cliente." aria-describedby="buscarCliente">
                                        <button class="btn btn-outline-secondary" type="submit" name="accion" value="1" id="buscarcliente">Buscar</button>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        
                                        <input type="text" class="form-control" name="infoCliente" {%if inf1 %} value="{{inf1.1}} {{inf1.2}}" {%endif%} placeholder="Inf. de cliente." aria-label="Información de Cliente." disabled>
                                    </div>
                                    <p class="card-text col-md-12">Información de Producto a Añadir</p>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control col-md-4" name="codProd" placeholder="Escribe el código." aria-label="Código de producto." aria-describedby="buscarProducto">
                                        <button class="btn btn-outline-secondary" type="submit" name="accion" value="2" id="buscarProducto">Buscar</button>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <span class="input-group-text">Código</span>
                                        {% if inf2 %} {% set v0 = inf2.0 %}  {% endif %}
                                        <input type="number" class="form-control" name="codigo" value="{{v0}}" placeholder="Información de producto." aria-label="Información de producto." readonly>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        {% if inf2 %} {% set v3 = inf2.3 %}  {% endif %}
                                        <input type="text" class="form-control" name="infoProd" value="{{v3}}" placeholder="Información de producto." aria-label="Información de producto." readonly>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <span class="input-group-text">$</span>
                                        {% if inf2 %} {% set v4 = inf2.4 %}  {% endif %}
                                        <input type="text" name="precio" placeholder="Precio de producto." value="{{v4}}" class="form-control" aria-label="precio" readonly>
                                    </div> 
                                    <div class="input-group mb-3 col-md-3">
                                        <span class="input-group-text">C</span>
                                        <input type="number" class="form-control" value="1" name="cantidad" placeholder="0" aria-label="Escribe cantidad." required autofocus>
                                    </div>
                                    <div class="input-group mb-3 col-md-3">
                                        {% if inf2 %} {% set v5 = inf2.5 %}  {% endif %}
                                        <input type="number" class="form-control" name="stock" value="{{v5}}" placeholder="Stock" aria-label="Stock" readonly>
                                    </div>                          
                                </div>
                                <button type="submit" name="accion" value="3" id="enviarDatos" class="btn btn-sm btn-outline-success">Registrar</button>
                                <button type="reset" name="reset" value="0" class="btn btn-sm btn-outline-info">Resetar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card">
                        <h5 class="card-header">Canasta.</h5>
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="input-group input-group-sm mb-3 col-md-4">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                    <input type="text" value='{{numFact}}' class="form-control" placeholder="Código de Factura." aria-label="Código de Factura" aria-describedby="Código de Factura." readonly>
                                </div>
                                <div class="input-group input-group-sm mb-3 col-md-4">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" value="{{tp}}" class="form-control" placeholder="Subtotal." aria-label="Subtotal" aria-describedby="Subtotal" readonly>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Prace</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col" colspan="2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dato in datos %}
                                        <tr>
                                            <td>{{dato.0}}</td>
                                            <td>{{dato.1}}</td>
                                            <td>{{dato.2}}</td>
                                            <td>{{dato.3}}</td>
                                            <td>{{dato.4}}</td>
                                            <td>{{dato.5}}</td>
                                            <td><a class="alert-link" href="#">Editar</a></td>
                                            <td><a class="alert-link" href="#">Eliminar</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a href="{{url_for('cashout')}}" class="btn btn-sm btn-outline-success">Cashout</a>
                                <button class="btn btn-sm btn-outline-danger" href="#" role="button">Cancell</button>
                        </div>
                    </div>
                </div>
            </div>
            </section>

    {% endblock %}