	{% extends "layout.html" %}
	{% block content %}

        <section class="main container-fluid">
            <div class="row g-2">
                <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{type}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Canasta de {{type}}</li>
                    </ol>
                </nav>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-5">
                    <div class="card">
                        <h5 class="card-header">Insercción de Información.</h5>
                        <div class="card-body">
                            <form action="{{url_for('searchData')}}" method="POST">
                                <div class="form-row">
                                    <p class="card-text col-md-12">Información de Cliente</p>
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" name="codCli" placeholder="Código.." aria-label="Código de cliente." aria-describedby="buscarCliente">
                                        <button class="btn btn-outline-secondary" type="submit" name="buscar" value="1" id="buscarcliente">Buscar</button>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" name="infoCliente" value="{{inf1.1}} {{inf1.2}}" placeholder="Inf. de cliente." aria-label="Información de Cliente." disabled>
                                    </div>
                                    <p class="card-text col-md-12">Información de Producto a Añadir</p>
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" name="codProd" placeholder="Escribe el código." aria-label="Código de producto." aria-describedby="buscarProducto">
                                        <button class="btn btn-outline-secondary" type="submit" name="buscar" value="2" id="buscarProducto">Buscar</button>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" name="infoProd" value="{{inf2.3}}" placeholder="Información de producto." aria-label="Información de producto.">
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <span class="input-group-text">$</span>
                                        <input type="text"  nanme="precio" placeholder="Precio de producto."  value="{{inf2.4}}" class="form-control" aria-label="precio">
                                    </div> 
                                    <div class="input-group mb-3 col-md-3">
                                        <input type="text" class="form-control" name="" placeholder="" aria-label="">
                                    </div>
                                    <div class="input-group mb-3 col-md-3">
                                        <input type="number" class="form-control" name="stock" value="{{inf2.5}}" placeholder="Stock" aria-label="Stock" disabled>
                                    </div>                          
                                </div>
                                <a id="submit" type="submit" class="btn btn-success">Registrar</a>
                                <a type="reset" class="btn btn-info">Resetar</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card">
                        <h5 class="card-header">Canasta.</h5>
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="input-group input-group-sm mb-3 col-md-4">
                                    <span class="input-group-text" id="basic-addon1">N.</span>
                                    <input type="text" class="form-control" placeholder="Código." aria-label="Código." aria-describedby="Search">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Prace</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col" colspan="2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>a</td>
                                            <td>s</td>
                                            <td>d</td>
                                            <td>f</td>
                                            <td>g</td>
                                            <td>h</td>
                                            <td>j</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <a class="btn btn-sm btn-outline-success" href="#" role="button">Cashout</a>
                            <a class="btn btn-sm btn-outline-danger" href="#" role="button">Cancell</a>
                        </div>
                    </div>
                </div>
            </div>
            </section>

    {% endblock %}