* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Estilos de Cuerpo */

body {
	background:url(4.jpg);
	background-repeat:no-repeat;
	background-size:cover;

	background-attachment: fixed;

	font-family:helvetica, arial, sans-serif;
	line-height:15px;
}

.contenedor {
	width: 90%;
	max-width:1100px;
	margin:auto;
}

article {
	background:rgba(8, 32, 50,.8);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h2 {
	color:#fff;
}

article h3 {
	color:#fff;
}

article hr {
	background:#DDDDDD;
	height:5px;
	border:none;
}

article p {
	line-height: 25px;
}

article h2, article h3, article p, article hr {
	margin-bottom: 15px;
}

/* Estilos de Botones */

.btn{
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 10px;
    color: #ffffff;
    background-color: rgba(77, 89, 92, 0.87);
    border-radius: 6px;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	border: 2px solid #156;
}

.btn:hover {
    color: rgba(24,8,33,.9);
    background-color: rgba(217,228,221,.9);
}

.vinculo {
	text-decoration: none;
	color:#156;
}

/* Estilos de Tabla */

table {
	width: 100%;
	margin:20px 0;
	background-color: #d6d2c4;
    text-align: center;
	border-collapse: collapse;
}

tbody tr td {
	height: 60px;
	background:rgba(248, 248, 248, 0.9);
	border-bottom: solid 5px #156;
	color: black;
}