{% extends "/template.html" %}
{% block content %}
	<article>
		<h2>Consulta de Productos</h2>
		<h3>{{text}}</h3>
		<hr>
        <article class="cube">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Proveedor</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Cantidad</th>
                        <th>Existencia</th>
                        <!--<th colspan="2">Acciones</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for reg in registros %}
                    <tr>
                        <td>{{reg.0}}</td>
                        <td>{{reg.1}}</td>
                        <td>{{reg.2}}</td>
                        <td>{{reg.3}}</td>
                        <td>{{reg.4}}</td>
                        <td>{{reg.5}}</td>
                        <td>{{reg.6}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
	</article>
{% endblock %}