<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" href="static/style_1.css">
	<script src="static/jquery-latest.js"></script>
	<script src="static/main.js"></script>
</head>
<body>
	<div class="contenedor">
		<article>
			<h2>Sistema Gestor de Base de Datos</h2>
			<h3>Tienda Tecnológica 'Wiki Partners'.</h3>
		</article>

        {%block content %} {% endblock %}

        <article>
			<h3>Contácto.</h3>
			<article class="cube">
                    <a href="/" class="btn">Inicio</a>
					<a href="#" class="btn">Redes Sociales</a>
			</article>
		</article>
	</div>
</body>
</html>